*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 20px;
    font-family:"Asap", sans-serif;
}
a{
    text-decoration: none;
}
header{
    padding: 1.1rem;
}
#header-nav ul li a{
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #000;
    text-decoration: none;
}
#header-nav ul li{
    margin-left: 2.6rem;
    position: relative;
}
/*
#header-nav ul li::before{
    content: " ";
    position: absolute;
    top: 100%;
    width: 70%;
    height: 0.2rem;
    background-color: #bd945f;
    display: none;
}
#header-nav ul li:hover::before{
    width: 100%;
}*/
#header-nav ul li::after{
    content: " ";
    position: absolute;
    display: block;
    bottom: -2px;
    height: 4px;
    width: 70%;
    left: 40%;
    transform: translate(-50%);
    background-color: #bd945f;
    border-radius: 5px;
    transition: all 0.5s ease;
    opacity: 0;
}
#header-nav ul li:hover::after{
    width: 70%;
    opacity: 1;
}
#header-nav .fa-solid{
    visibility: hidden;
}
@media (min-width: 1400px){
    .container .container-lg, .container-md
    .container-sm, .container-x, .container-xxl{
        max-width: 1280px;
    }
}
@media (min-width: 767.98px) and (max-width: 999.98px){
    #header-nav ul li{
        margin-left: 0.5rem;
    }
}
@media (max-width: 576px){
    header{
        position: relative;
    }
    #header-nav ul{
        display: block !important;
    }
    #header-nav .fa-solid{
       visibility: visible;
    }
      /* 
    body{
        position: relative;
    }
    #header-menu li{
        width: 100%;
    }*/
    #header-menu{
        /*
        position: absolute;
        top: 20%;
        left: 50%;*/
       display: none;
    }
    .header-logo{
        height: 48px;
    }
}
/*Banner*/
.row{
    max-width: 100%;
    display: flex;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}
.container-x{
    margin: 0 2.5rem;
}

#banner{
    background-image: url(/GT/img/banner5.jpg);
    height: 25rem;
}
#banner .box-banner{
    position: relative;
    top: 6rem;
    left: 1.7rem;
    text-align: center;
}
#banner .box-banner h3{
    font-family:"Asap", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.25rem;
    color: #fff;
    margin-top: 0.5rem;
}
#banner .container{
    position: relative;
}
/*Banner*/

/*Category*/
.col-6{
    flex: 0 0 auto;
    width: 50%;
}
#category{
    background-color: #f3f3f3;
    height: 76rem;
}
#category  .list-category{
    background-color: #fff;
    width: 100%;
    padding-bottom: 5rem;
}
#category .container{
    position: relative;
    
}
#category .list-category{
    position: absolute;
    top: -3rem;
}
#category h2{
    margin-top: 3rem;
    text-align: center;
    font-size: 1.6rem;
    color: #2c2e53;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    position: relative;
    margin-bottom: 3rem;
    line-height: 2.5rem;
}
#category h2::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 44%;
    transform: translateY(-44%);
    width: 8rem;
    height: 0.5rem;
    background-color: #bd945f;
}
#category .box-category-top{
    display: flex;
    justify-content: space-between;
}
#category .box-category-left{
    margin-left: 4rem;
}
#category .box-category-right{
    margin-right: 3rem;
    text-align: justify;
    width: 40%;
}
#category .box-category-right p{
    font-size: 0.7rem;
    font-weight: 500;
}
#category .box-category-mid{
    padding-left: 4.2rem;
}
#category .box-category-mid-bottom p{
    padding-top: 1rem;
    width: 94%;
    font-size: 0.7rem;
    text-align-last: center;
}
#category .box-category-bottom{
    position: relative;
    z-index: 1;
    left: 1rem;
}
#category .box-category-bottom .box-category{
    display: flex;
    border: 3px solid #bd945f;
    margin-top: 1.4rem;
    padding-top: 0.6rem;
}
#category .box-category-bottom .logo-category{
    margin: 0 1.5rem;
}
#category .box-category-bottom h4{
    font-family:"Asap", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #bd945f;
    padding: 0;
    margin: 0;
}
#category .box-category-bottom p{
    font-size: 0.7rem;
}

/*Footer*/
#footer{
    background-color: #2a2a2d;
}
#footer .box-footer{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
}
#footer .footer-left{
    width: 40%;
}
#footer .footer-left-top h2{
    color: #fff;
    font-size: 0.7rem;
    position: relative;
    text-transform: uppercase;
}
#footer .footer-left-top h2::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 4rem;
    background-color: #fff;
    z-index: 3;
}
#footer .footer-left h5{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#footer .footer-left-menu-icon li{
    list-style: none;
}
#footer .footer-left-menu-icon li a{
    text-decoration: none;
    color: #fff;
}
#footer .footer-left-menu-icon li a i{
    padding-right: 1rem;
    font-size: 0.9rem;
}
#footer .footer-left-menu-icon li a span{
    font-size: 0.8rem;
}

#footer .footer-mid{
    width: 40%;
    margin-left: 10rem;
}
#footer .footer-mid-top h2{
    color: #fff;
    font-size: 0.7rem;
    position: relative;
    text-transform: uppercase;
}
#footer .footer-mid-top h2::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 4rem;
    background-color: #fff;
    z-index: 3;
}
#footer .footer-mid .footer-mid-menu li a{
    list-style: none;
    text-decoration: none;
    font-size: 0.7rem;
    color: #fff;
}

#footer .footer-right{
    width: 40%;
}
#footer .footer-right-top h2{
    color: #fff;
    font-size: 0.7rem;
    position: relative;
    text-transform: uppercase;
}
#footer .footer-right-top h2::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    bottom: 0;
    height: 0.2rem;
    width: 4rem;
    background-color: #fff;
    z-index: 3;
}
#footer .footer-right-icon{
    padding-top: 0.8rem;
}
#footer .footer-right-icon a img{
    padding-right: 0.4rem;
}
#footer .footer-right-end{
    padding-top: 2rem;
}